@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  /* enables to add padding or any border to an element, doesn't effect it's width */
}

body {
  align-items: center;
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.search {
  position: relative;
  height: 3.125em;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 1.125em;
  padding: 0.9375em;
  height: 2.7777777777777777em; /*default pixel size inherited from font-size*/
  width: 2.7777777777777777em;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  height: 2.0833333333333335em; /*default pixel size inherited from font-size*/
  width: 2.0833333333333335em;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}
.search.active .input {
  width: 12.5em;
}

.search.active .btn {
  transform: translateX(9em);
}
