@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
  /* enables to add padding or any border to an element, doesn't effect it's width */
}

body {
  align-items: center;
  background-color: #f6f7fb;
  display: flex;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875em;
  max-width: 100%;
  position: relative;
  width: 21.875em;
}

.progress-container::before {
  background-color: var(--line-border-empty);
  content: '';
  height: 0.25em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  height: 0.25em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s ease;
  width: 0%;
  z-index: -1;
}

.circle {
  background-color: #fff;
  border-radius: 50%;
  color: #999;
  height: 1.875em;
  width: 1.875em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1875em solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 0.375em;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5em 1.875em;
  margin: 0.3125em;
  font-size: 0.875em;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
